@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("/src/lib/fonts/BricolageGrotesque-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    cursor: url('./lib/images/cursor.svg'), auto;
}

a, button {
    cursor: url('./lib/images/clickable-cursor.svg'), pointer;
}